@import "tailwindcss";

:root {
  /* Base Brand */
  --primary: 39 43 54;        /* #272B36 */
  --accent: 160 138 129;      /* #A08A81 */
  --background: 215 215 214;  /* #D7D7D6 */
  --neutral: 183 184 187;     /* #B7B8BB */
  --secondary: 89 93 102;     /* #595D66 */

  /* Semantic */
  --surface: 255 255 255;
  --border: 229 229 229;
}

.dark {
  --primary: 229 229 229;
  --accent: 199 183 176;
  --background: 28 28 28;
  --neutral: 58 58 58;
  --secondary: 138 143 153;

  --surface: 38 38 38;
  --border: 60 60 60;
}

html,
body {
  height: 100%;
  background: rgb(var(--background));
  color: rgb(var(--primary));
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}