@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

html { @apply font-sans; background-color: var(--color-bg); color: var(--color-primary); }
body { @apply bg-background text-foreground; }
a { text-decoration: none; color: inherit; }
button { cursor: pointer; }
* { @apply border-border outline-ring/50; }
